.header{
    display: flex;
    align-items: center;
    background: #6a3093; 
    background: linear-gradient(to right, #a044ff, #6a3093);
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .logo {
    max-height: 64px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}