.home{
    background-color: #270039;
    color: black;
}

.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    background-color: #270039;
}

.home .subtitle{
    padding: 10px 0;
    color: black;
    font-size: 1.1rem;
    background-color: #270039;
}

.home .title,
.home .subtitle{
    color: white;
}