.footer{
    position: fixed;
    bottom: 0;
    background-color: unset;
    color: white;

    display: flex;
    justify-content: flex-end;
}

.footer span{
    font-size: .9rem;
    font-weight: 500;
}