.sidenav{
    background-color: #290048;
    width: 200px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #270039 !important;
}

@media only screen and (max-width: 800px){
    .sidenav{
        width: 60px;
    }
}